# components/insaflu-server/insaflu-requirements.txt
# Frozen resolution of the INSaFLU requirements.txt on the CentOS 7
# python3.6.8 system interpreter, captured 2026-09-01 from a green build.
#
# Resolving those requirements from scratch took 5m50s: python 3.6 is old
# enough that uv backtracks a long way to find cp36-compatible versions.
# Installing from this file skips the resolve.
#
# django-tables2 is pinned by version here, but it still cannot be installed
# from its sdist: the tarball contains docs/pages/CHANGELOG.md as a symlink to
# an absolute path in the packager's home directory, and uv refuses external
# symlinks. install_insaflu.sh unpacks it and installs from the directory
# before this file is used.
asgiref==3.4.1
attrs==22.2.0
bcbio-gff==0.6.6
beautifulsoup4==4.11.1
biopython==1.78
certifi==2025.4.26
chardet==3.0.4
charset-normalizer==2.0.12
crispy-forms-foundation==0.7.0
cycler==0.11.0
cython==0.29.37
decorator==5.1.1
django==1.11.29
django-bootstrap-breadcrumbs==0.9.1
django-bootstrap4==0.0.8
django-braces==1.13.0
django-crequest==2018.5.11
django-crispy-forms==1.7.2
django-embed-video==1.2.0
django-ipware==2.1.0
django-nose==1.4.6
django-tables2==1.16.0
django-user-agents==0.3.2
ete3==3.1.2
idna==3.10
importlib-metadata==4.8.3
ipython-genutils==0.2.0
jsonschema==3.2.0
jupyter-core==4.9.2
kiwisolver==1.3.1
matplotlib==3.3.2
mod-wsgi-httpd==2.4.54.1
mod-wsgi-standalone==4.9.4
nanofilt==2.7.1
nanoget==1.19.1
nanomath==1.4.0
nanostat==1.5.0
nbformat==5.1.3
networkx==2.4
nose==1.3.7
numpy==1.16.1
pandas==1.1.5
pillow==8.4.0
plotly==3.9.0
portalocker==1.4.0
psycopg2-binary==2.9.8
pyparsing==3.1.4
pyrsistent==0.18.0
pysam==0.19.1
python-dateutil==2.7.3
python-decouple==3.1
python-deprecated==1.1.0
pytz==2026.3.post1
pyyaml==6.0.1
requests==2.27.1
retrying==1.4.2
scipy==1.2.0
seaborn==0.11.2
setuptools==59.6.0
six==1.17.0
soupsieve==2.3.2.post1
sqlalchemy==1.3.23
sqlparse==0.4.4
traitlets==4.3.3
typing-extensions==4.1.1
ua-parser==0.8.0
urllib3==1.26.20
user-agents==2.0
wheel==0.37.1
zipp==3.6.0
